<div class="black-friday-banner bg-black fixed bottom-0 left-0 right-0 py-4 text-center z-30">
    <h2 class="text-white text-sm lg:text-lg">
        !!! BLACK FRIDAY 30% OFF SITEWIDE
        <a class="underline" href="{{ routes.all_products_collection_url }}">SHOP NOW</a>
        !!!</h2>
</div>