{%- comment -%}
  Gemstone Collections Dropdown Menu Snippet
  Usage: {% render 'gemstone-menu' %}
{%- endcomment -%}

{% assign gemstones = shop.metaobjects.gemstone.values %}

<div class="dropdown-item z-10">
  <!-- Gemstone Toggle Button -->
  <button 
    class="dropdown-toggle w-full text-left py-2 px-6 text-gray-700 text-4xl hover:text-black transition-colors duration-150 cursor-pointer"
    aria-expanded="false"
    aria-haspopup="true"
  >
    Gemstones
  </button>
  
  <!-- Dropdown Content -->
  <div class="dropdown-items closed h-0 overflow-hidden">
    {%- assign gemstone_handles = 
      'aventurine,agate,amethyst,aventurine,black-moonstone,black-tourmaline,blue-calcite,blue-tigers-eye,carnelian,citrine,green-opal,jasper,labradorite,peach-moonstone,polychrome-jasper,purple-labradorite,rose-quartz,selenite,septarian,sodalite,tigers-eye' | split: ',' 
    -%}
    
    {% for gemstone in gemstones %}
          {% assign tag = gemstone.product_tag.value | downcase %}
          {% assign primary_color = gemstone.primary_color | downcase %}
          {% assign attached_collection = gemstone.collection %}
          <button 
            type="button"
            class="menu-item block py-2 px-10 text-gray-700 font-thin text-2xl hover:text-gray-200 transition-all duration-300"
            data-tag="{{ tag }}"
            data-color="{{ primary_color }}"
            data-collection="{{ attached_collection }}"
          >
            {{ gemstone.display_name.value }}
          </button>
        {% endfor %}
  </div>
</div>
