<div class="menu cursor-pointer absolute top-[50%] translate-y-[-50%] left-[20px] z-20 flex gap-5 justify-between w-full right-[20px]">
  <svg id="menu-open" width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path id="menu-1" d="M3 5H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path id="menu-2" d="M3 12H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 19H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
  <svg id="menu-close" style="display: none;" width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" opacity="0" xmlns="http://www.w3.org/2000/svg"><path id="menu-close-1" d="M3 5H11" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path id="menu-close-2" d="M3 12H16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 19H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>

</div>


<div class="menu-screen z-10 absolute left-[-110%] top-0 bottom-0 overflow-y-scroll  w-svw lg:w-[33vw] h-svh bg-white transition-left duration-300 grid place-items-center-start">
  <div class="w-full pt-25 pb-50 relative">
    <div class="menu-gradient sticky block h-50 top-0 left-0 right-0 bottom-50 z-20 pointer-events-none"></div>
    <a class="absolute bottom-10 left-[30px] md:left-[50%]" href="/cart"><svg style="black-100" width="72px" height="72px" stroke-width="1.2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M3 6H22L19 16H6L3 6ZM3 6L2.25 3.5" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M11 19.5C11 20.3284 10.3284 21 9.5 21C8.67157 21 8 20.3284 8 19.5" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M17 19.5C17 20.3284 16.3284 21 15.5 21C14.6716 21 14 20.3284 14 19.5" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path></svg></a>
    <a href="/collections/all" class="menu-item block py-2 px-6 text-gray-700 font-thin text-4xl z-10" > View Shop </a>
    {% render 'gemstone-menu' %}
    {% render 'seasonal-menu' %}
    {% render 'jewellery-menu' %}
  </div>
</div>

<style>
  /* What is this in tailwind?? */
  .menu-gradient {
    background: linear-gradient(white 0 40%, transparent 100% 100%);
  }
</style>
