<a href="{{ routes.root_url }}" class="w-full flex justify-center items-center">
    <img src="{{ 'logo.webp' | asset_url }}" alt="Your Logo" width="100%" height="100%">
</a>

{% style %}
  
  header img {
    width: {{ section.settings.logo-size }}px;
  }

{% endstyle %}

{% schema %}
  {
    "name": "t:general.header",
    "tag": "header",
    "class": "fixed top-0 z-2 w-full grid items-center my-5",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "t:labels.menu"

      },
      {
        "type": "image_picker",
        "id": "header-logo",
        "label": "t:labels.header-logo"
      },
      {
        "type": "range",
        "min": 25,
        "default": 50,
        "unit": "px",
        "step": 5,
        "max": 250,
        "id": "logo-size",
        "label" : "t:labels.logo-size"
      }
    ]
  }
{% endschema %}
